footer {
    color: white;
    /* background-color:#83CEF9; */
    text-align: center;
    background: rgb(31, 159, 214);
    background: linear-gradient(176deg, rgba(31, 159, 214, 1) 20%, rgba(0, 178, 249, 1) 50%, rgba(35, 187, 247, 1) 78%);
}