.padre-imagenes {
    background-color: #44B5F7;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "div1 "
        "parrafo"
        "botom";

    &__.padre-hijos img {
        max-width: 100%;
        min-width: 100%;
    }

    @media(min-width:576px) {
        .padre-imagenes {
            grid-template-rows: auto auto auto;
            grid-template-columns: 50% 50%;
            grid-template-areas:
                "header div1"
                "parrafo parrafo"
                "botom botom";
        }
    }

    &__.imagen1 {
        grid-area: header;
        /* width :600px; */
        /* height :400px; */
        margin-bottom: 20px;
        display: inline-block;
        background-color: #44B5F7;
    }

    &__.chicoenbici {
        grid-area: div1;
        /* width :600px; */
        /* height: 400px; */
        margin-bottom: 20px;
        display: inline-block;
        background-color: #44B5F7;
    }

    &__.parrafo1 {
        grid-area: parrafo;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        background-color: #83CEF9;
        padding: 5px 3px 3px 5px;
    }

    &__.botonvermas {
        grid-area: botom;
        color: white;
        /* background:#44B5F7; */
        padding: 10px;
        border: 1px solid white;
        background: #44B5F7;
        background: rgb(31, 159, 214);
        background: linear-gradient(176deg, rgba(31, 159, 214, 1) 20%, rgba(0, 178, 249, 1) 50%, rgba(35, 187, 247, 1) 78%);
    }
}