.padre-imagenes2 {
    background-color: #44B5F7;
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "peque"
        "couple"
        "chica"
        "parrafo2"
        "botom2";

    @media(min-width:576px) {
        .padre-imagenes2 {
            grid-template-rows: auto auto auto;
            grid-template-columns: 33.3% 33.3% 33.3%;
            grid-template-areas:
                "peque couple chica"
                "parrafo2 parrafo2 parrafo2"
                "botom2 botom2 botom2";
        }
    }

    &_.img-peque {
        grid-area: peque;
        /* width: 341px; */
        /* height:250px; */
        margin-right: auto;
    }

    &_.couple-bici {
        grid-area: couple;
        /* width: 341px; */
        /* height:250px; */
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    &_.chicaenbici {
        grid-area: chica;
        /* width: 34s1px; */
        /* height: 250px; */
        top: 100px;
        left: 100px;
    }

    &_.parrafo2 {
        grid-area: parrafo2;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        background-color: #83CEF9;
        padding: 10px 5px 5px 10px;

    }

    &_.boton2 {
        grid-area: botom2;
    }

}