.padre-div-ind {
    color: white;
    background-color: #44B5F7;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.imagen-ind {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #44B5F7;
    display: flex;

    @media(min-width:576px) {
        display: flex;
        flex-direction: column;

    }

}